@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(92, 67, 150);
    --primary-color-dark: rgb(31, 4, 94);
    --primary-color-light: rgb(176, 156, 224);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(59, 57, 59, 0.39);
}

.numero-titulo {
    font-size: 30px;
}

.botao-tabuada {
    background-color: var(--primary-color-dark);
    border-radius: 6px;
    border :1px solid var(--primary-color-dark);
    display: inline-block;
    cursor: pointer;
    color:#ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    margin: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px var(--primary-color-dark);
}

.botao-tabuada:active {
    position:relative;
    top:1px;
}


h1 {
    text-align: center;
    color: white;
}

option {
    font-size: 27px;
}

footer {
    text-align: center;
    color: white;
}
