@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(92, 67, 150);
    --primary-color-dark: rgb(31, 4, 94);
    --primary-color-light: rgb(176, 156, 224);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    text-align: center;
    color: white;
}

footer {
    font-size: 25px;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(37, 2, 112, 0.39);
}

.botao-adicionar, .botao-finalizar {
    box-shadow: 2px 2px 20px -4px rgba(37, 2, 112, 0.39);
    background: linear-gradient(to bottom, #7e45c7 5%, #5a2cbd 100%);
    background-color: #7e45c7;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    padding: 2px 8px;
    text-decoration: none;
    text-shadow: 6px 2px 14px #412866;
}

.botao-adicionar, .botao-finalizar:hover {
	background:linear-gradient(to bottom, #5a2cbd 5%, #7e45c7 100%);
	background-color:#5a2cbd;
}
.botao-adicionar, .botao-finalizar:active {
	position:relative;
	top:1px;
}

.numbers-list {
    padding-top: 40px;
}

span {
    font-size: 27px;
}